html{
    scroll-behavior: smooth;
}
#top{
     text-shadow: 0 0 3px #000000;
}


body{
    margin: 10px;
    background-attachment: fixed;
    background-image: url(../images/background.jpg);     
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover;       
    font-family: "Belgrano", sans-serif;
    color: black;
    background-color: #00BFFF;
}
header{
  font-family: "Belgrano", sans-serif;;
  background-color:grey;
  color: black;
  padding:10px;
}
h1{
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}
h2{
  font-size: 1.7em;
  text-align: center;
  margin-top: 10px;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top:-40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;

  z-index: 1;
}

.skip a:focus{
  top:0;
}

*:focus{
  border: solid 2px #00BFFF;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  
nav li{
    border: solid 2px black;
    font-size: 150%;
    flex-grow: 1;
    justify-content: space-around;
    padding-bottom: 2px;
  }
nav li:hover{
    background-color: #00BFFF;
  }
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
  
  }
nav a:hover{
    text-decoration: underline;
  }
.navbar{
    text-align: center;
    background-color: #ddd;
  
  }
.nav-links .current{
    background-color: yellow;
    text-decoration: underline;
    font-style: italic;
  }

footer{
	background-color: white;
	text-align: center;
	margin: 44px;
	margin-top: 20px;
	padding: 20px;

}

.footer-items a{
	margin: 8px;
	color: black;
}

.footer-items a:active, .footer-items a:hover{
	color: purple;
}

footer div{
	padding-top: 15px;
	font-family: 'Josefin Sans';
}
